In [34]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [26]:
df = pd.read_csv('data/all_features.csv')
df

,RegionID,time,for_sale_inv,mean_listing_price_cut,median_listing_price_cut,median_sale_price,perc_listing_with_price_cut,newly_pending_listings,mean_days_to_pending,median_days_to_pending,median_listing_price,home_value,concrete prices,plywood prices
0,102001,2018-01,1429548.0,NaN,NaN,240244.0,NaN,NaN,74.0,37.0,271600.0,227556.0,165.8,219.8
1,102001,2018-02,1386945.0,NaN,NaN,242084.0,NaN,NaN,73.0,33.0,272967.0,228816.0,166.1,227.9
2,102001,2018-03,1444213.0,13106.9871,6333.3333,243641.0,0.1177,NaN,67.0,26.0,279333.0,230080.0,168.9,236.5
3,102001,2018-04,1531525.0,13521.1971,7000.0000,244719.0,0.1220,NaN,59.0,19.0,288667.0,231351.0,169.0,236.6
4,102001,2018-05,1633549.0,13785.1816,8000.0000,245188.0,0.1341,NaN,53.0,18.0,295633.0,232608.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,753906,2020-10,7351.0,12010.7852,6391.6667,302819.0,0.1441,NaN,56.0,17.0,379711.0,292872.0,NaN,NaN
3803,753906,2020-11,7042.0,12060.9817,6000.0000,307058.0,0.1364,NaN,52.0,16.0,379900.0,295959.0,NaN,NaN
3804,753906,2020-12,6683.0,12650.3286,6683.3333,312299.0,0.1263,NaN,50.0,16.0,382933.0,299369.0,NaN,NaN
3805,753924,2018-03,3845.0,32847.6776,17833.3333,569239.0,0.0925,NaN,NaN,NaN,654667.0,715012.0,168.9,236.5
3806,753924,2018-04,4083.0,29218.3669,16083.3333,564366.0,0.0983,NaN,NaN,NaN,648333.0,717625.0,169.0,236.6

In [3]:
df.isna().sum()

RegionID                          0
time                              0
for_sale_inv                     15
mean_listing_price_cut          196
median_listing_price_cut        196
median_sale_price                36
perc_listing_with_price_cut     240
newly_pending_listings         2149
mean_days_to_pending             59
median_days_to_pending           71
median_listing_price             35
home_value                        3
concrete prices                3421
plywood prices                 3421
dtype: int64

In [36]:
# top_1 = df[df.RegionID == 394399]
# df.groupby()

df_1 = df.groupby(by = ['RegionID']).agg({'mean_days_to_pending' : np.mean})

df_1.sort_values(by = 'mean_days_to_pending')[:10]

          mean_days_to_pending
RegionID
395078               26.638889
395057               28.388889
395012               28.674419
394492               29.083333
394931               30.055556
394399               30.238095
395053               30.388889
394530               30.555556
395059               30.722222
394640               31.302326

In [32]:
df[df['RegionID'] == 753924]

,RegionID,time,for_sale_inv,mean_listing_price_cut,median_listing_price_cut,median_sale_price,perc_listing_with_price_cut,newly_pending_listings,mean_days_to_pending,median_days_to_pending,median_listing_price,home_value,concrete prices,plywood prices
3805,753924,2018-03,3845.0,32847.6776,17833.3333,569239.0,0.0925,NaN,NaN,NaN,654667.0,715012.0,168.9,236.5
3806,753924,2018-04,4083.0,29218.3669,16083.3333,564366.0,0.0983,NaN,NaN,NaN,648333.0,717625.0,169.0,236.6

In [ ]:
'''
ROI
Mean day to pending
For sale investory
'''